Se importa pandas

In [ ]:
import pandas as pd

Aqui creo 3 dataframes que es donde voy a importar cada uno de los datos de ada tipo de archivo

In [ ]:
DFjson = pd.DataFrame

In [ ]:
DFcsv = pd.DataFrame

In [ ]:
DFxlsx = pd.DataFrame

Aqui imprimo los 3 dataframes

In [ ]:
print(DFjson)

     Nombre Apellido  Edad
0  Giovanni   Alzate   789
1     Tilin  Agudelo    25
2      Otro  Usuario    30

In [ ]:
print(DFcsv)

    Nombre Apellido  Edad
0     Pepe    Chino    12
1  Ejemplo  Ejemplo    90
2    Cesar   Sotelo    50

In [ ]:
print(DFxlsx)

   Nombre   Apellido  Edad
0   Laura     Ocampo    15
1  Checho      Muñoz    19
2    Sara  nfetamina    18

Aqui leo los archivos y los importo a cada dataframe

In [ ]:
DFjson = pd.read_json('import.json')

In [ ]:
DFcsv = pd.read_csv('importar.csv')

In [ ]:
DFxlsx = pd.read_excel('importeu.xlsx')

Este CombinedDataFrame sirve para combinar los 3 dataframes que cree y que se genere uno solo con todos los datos de todos los archivos

In [ ]:
CombinedDataFrame = pd.concat([DFjson, DFcsv, DFxlsx])

Aqui imprimo el dataframe que contiene los datos de los 3 archivos (o 3 dataframes)

In [ ]:
print(CombinedDataFrame)

     Nombre   Apellido  Edad
0  Giovanni     Alzate   789
1     Tilin    Agudelo    25
2      Otro    Usuario    30
0      Pepe      Chino    12
1   Ejemplo    Ejemplo    90
2     Cesar     Sotelo    50
0     Laura     Ocampo    15
1    Checho      Muñoz    19
2      Sara  nfetamina    18

Y aqui por ultimo exporto los datos en un archivo JSON para que queden guardados en los archivos listo para descargarse

In [ ]:
CombinedDataFrame.to_json('ExportData.json', orient='records', lines=True)